/* Empty. Add your own CSS if you like */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Styling for ionic headers on all pages*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.bar.bar-coverupOrange {
    border-color: #FFFFFF;
    background-color: #F79522;
    background-image: linear-gradient(0deg, #FFFFFF, #FFFFFF 50%, transparent 50%);
    color: #FFFFFF; 
}
.bar.bar-coverupOrange.title {
    color: #FFFFFF; 
}
.bar.bar-coverupOrange.footer {
    background-image: linear-gradient(180deg, #FFFFFF, #FFFFFF 50%, transparent 50%);
}
        
.button.button-coverupOrange {
    border-color: transparent;
    background-color: #F79522;
    color: #FFFFFF; 
}
.button.button-coverupOrange:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.button.button-coverupOrange.active, .button.button-coverupOrange.activated {
    background-color: #F79522;
}
.button.button-coverupOrange.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #FFFFFF;
    font-size: 17px; 
}
.button.button-coverupOrange.button-bold {
    font-weight: 400; /*To match the font weight of the 'Ready!' button font with the back button font (hardly noticeable, but there is a slight difference)*/
} 
.button.button-coverupOrange.button-icon {
    border-color: transparent;
    background: none; }
    
.button.ion-ios-arrow-forward:before {
    font-size: 25px !important; /*Resize arrow in Ready! button*/
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Styling functions for button positioning*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.button.pull-left-home { /*.pull-left and .pull-center are used for aligning buttons on home page footer...*/
    position: absolute;
    top: 5px;
    left: 13% !important;
    bottom: 5px;
}

.button.pull-right-home {
    position: absolute;
    top: 5px;
    right: 13% !important;
    bottom: 5px;
}

.button.pull-center-home {
    margin-left: auto;
    margin-right: auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Styling for 'Create' button drop down menu on home page (webapp only)*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#home-dropdown {
    height: 100px;
    width: 100%;
    line-height: normal;
    text-align: center;
    background-color: #F79522;
    vertical-align: center;
    position: fixed;
    bottom: 0;
}
#home-dropdown ul {
    margin: 0;
    padding: 0;   
    list-style: none;
    text-align: center;
    position: relative;
}
#home-dropdown a {
    margin: 0;
    text-decoration: none;
}
#home-dropdown li {
    margin: 0;
    padding: 0;  
}
#home-dropdown > ul > li {
    display: inline-block;
    padding: 0 calc(8%);
    line-height: 30px;
    vertical-align: top;
    text-align: center;
    position: relative;
    margin-top: 30px;

}
#home-dropdown > ul > li > a {
    color: #FFFFFF;
    -webkit-transition: color .15s;
    -moz-transition: color .15s;
    -o-transition: color .15s;
    transition: color .15s;
}
#home-dropdown > ul > li > a:hover {
    color: rgb(250, 250, 250);
}
#home-dropdown > ul > li > ul {
    opacity: 0;
    visibility: hidden;
    padding: 16px 0 20px 0;
    background-color: rgb(250, 250, 250);
    text-align: center;
    position: absolute;
    bottom: 55px; /*See comment in next class*/
    left: 50%;
    margin-left: -90px;
    width: 180px;
    /*Animations*/
    -webkit-transition: all .3s .1s;
    -moz-transition: all .3s .1s;
    -o-transition: all .3s .1s;
    transition: all .3s .1s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
}
#home-dropdown > ul > li:hover > ul {
    opacity: 1;
    bottom: 65px; /*The difference between this bottom: value and the bottom: value in the previous class determines how far the menu moves in the slide in animation*/
    visibility: visible;
}
#home-dropdown > ul > li > ul:before {  /*This adds the small arrow on the bottom of the dropdown menu*/
    content:"";
    display: block;
    border-color: rgb(250, 250, 250) transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -10px;
}
#home-dropdown > ul ul > li {
    position: relative;
}
#home-dropdown ul ul a {
    color: rgb(50, 50, 50);
    background-color: rgb(250, 250, 250);
    padding: 5px 8px 7px 16px;
    display: block;
    -webkit-transition: background-color .1s;
    -moz-transition: background-color .1s;
    -o-transition: background-color .1s;
    transition: background-color .1s;
}
#home-dropdown ul ul a:hover {
    background-color: rgb(240, 240, 240);
}

/*~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~*/

.ion-ios-circle-filled:before {
   font-size: 32px !important;
   margin-top:-23px !important;
   margin-left:-20px !important
}

.popover { 
margin-left:-10px !important;
}
