/* Empty. Add your own CSS if you like */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Styling for ionic headers on all pages*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.bar.bar-coverupOrange {
    border-color: #FFFFFF;
    background-color: #F79522;
    background-image: linear-gradient(0deg, #FFFFFF, #FFFFFF 50%, transparent 50%);
    color: #FFFFFF; 
}
.bar.bar-coverupOrange.title {
    color: #FFFFFF; 
}
.bar.bar-coverupOrange.footer {
    background-image: linear-gradient(180deg, #FFFFFF, #FFFFFF 50%, transparent 50%);
}
        
.button.button-coverupOrange {
    border-color: transparent;
    background-color: #F79522;
    color: #FFFFFF; 
}
.button.button-coverupOrange:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.button.button-coverupOrange.active, .button.button-coverupOrange.activated {
    background-color: #F79522;
}
.button.button-coverupOrange.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #FFFFFF;
    font-size: 17px; 
}
.button.button-coverupOrange.button-bold {
    font-weight: 400; /*To match the font weight of the 'Ready!' button font with the back button font (hardly noticeable, but there is a slight difference)*/
} 
.button.button-coverupOrange.button-icon {
    border-color: transparent;
    background: none; }
    
.button.ion-ios-arrow-forward:before {
    font-size: 25px !important; /*Resize arrow in Ready! button*/
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Styling functions for button positioning*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.button.pull-left-home { /*.pull-left and .pull-center are used for aligning buttons on home page footer...*/
    position: absolute;
    top: 5px;
    left: 13% !important;
    bottom: 5px;
}

.button.pull-right-home {
    position: absolute;
    top: 5px;
    right: 13% !important;
    bottom: 5px;
}

.button.pull-center-home {
    margin-left: auto;
    margin-right: auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Styling for 'Create' button drop down menu on home page (webapp only)*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#home-dropdown {
    position: fixed;   /*~~Positioning*/
    height: 120px;
    width: 100%;
    bottom: 0;
    text-align: center;

    font-size: 20px;   /*~~Styling*/
    background-color: #F79522;
}
#home-dropdown ul {
    position: relative;   /*~~Positioning*/
    margin: 0;
    padding: 0;   
    text-align: center;
}
#home-dropdown a {
    margin: 0;   /*~~Positioning*/
    
    text-decoration: none;   /*~~Styling*/
}
#home-dropdown li {
    margin: 0   /*~~Positioning*/
    padding: 0;  
    
    cursor: pointer;   /*~~Styling*/
}
#home-dropdown > ul > li {
    position: relative;   /*~~Positioning*/
    display: inline-block;
    padding: 0 10px;
    margin: 30px calc(8%);
    vertical-align: top;
    line-height: 30px;
    text-align: center;

}
#home-dropdown > ul > li > a {
    color: #FFFFFF;   /*~~Styling*/
    
    -webkit-transition: color .15s;   /*~~Animations*/
    -moz-transition: color .15s;
    -o-transition: color .15s;
    transition: color .15s;
}
#home-dropdown > ul > li > a:hover {
    color: rgb(250, 250, 250);
}
#home-dropdown > ul > li > ul {
    opacity: 0;   /*~~This makes menu hidden until further overriden (moused over)*/
    visibility: hidden;
    
    position: absolute;   /*~~Positioning*/
    padding: 16px 0 20px 0;
    margin-left: -90px;
    left: 50%;
    bottom: 55px; /*See comment in next class*/
    width: 180px;
    text-align: center;

    background-color: rgb(250, 250, 250);   /*~~Styling*/
    font-size: 15px;    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);

    -webkit-transition: all .3s .1s;   /*~~Animations*/
    -moz-transition: all .3s .1s;
    -o-transition: all .3s .1s;
    transition: all .3s .1s;
    }
#home-dropdown > ul > li:hover > ul {
    opacity: 1;   /*Menu is now visible - previously defined visibility being overriden*/
    visibility: visible;
        
    bottom: 65px; /*The difference between this bottom: value and the bottom: value in the previous class determines how far the menu moves in the slide in animation*/
}
#home-dropdown > ul > li > ul:before {  /*This adds the small arrow on the bottom of the dropdown menu*/
    position: absolute;   /*~~Positioning*/
    display: block;
    bottom: -20px;
    left: 50%;
    margin-left: -10px;
    
    content:"";   /*~~Styling*/
    border-color: rgb(250, 250, 250) transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
}
#home-dropdown > ul ul > li {
    position: relative;
}
#home-dropdown ul ul a {
    padding: 5px 8px 7px 16px;   /*~~Positioning*/
    display: block;
    
    color: rgb(50, 50, 50);   /*~~Styling*/
    background-color: rgb(250, 250, 250);
    
    -webkit-transition: background-color .25s;   /*~~Animations*/
    -moz-transition: background-color .25s;
    -o-transition: background-color .25s;
    transition: background-color .25s;
}
#home-dropdown ul ul a:hover {
    background-color: rgb(240, 240, 240);
}
#home-dropdown ul ul li {
    border-left: 4px solid rgb(250, 250, 250); /*Previously hidden left border is only visible when dropdown menu element is moused over (It's always there, but matches the colour of the background)*/
    
    -webkit-transition: border .25s;   /*~~Animations*/
    -moz-transition: border .25s;
    -o-transition: border .25s;
    transition: border .25s;   
}
#home-dropdown ul ul li:hover {
    border-left: 4px solid #F79522; /*Colour change to orange now makes it visible when moused over.*/
}

/*~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~*/

.ion-ios-circle-filled:before {
   font-size: 32px !important;
}


.popover { 
margin-left:0px !important;
margin-top:-10px !important;
}

.modPop{
    background-color: rgb(240,240,240);
    border-radius:3px;
    width: 175px;
    position:absolute;
    left: -12px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
}
.modPop:before { /*Small arrow above dropdown menu*/
    position: absolute;
    display: block;
    top: -20px;
    left: 50%;
    margin-left: -10px;
    
    content:"";
    border-color: transparent transparent rgb(250, 250, 250)  transparent;
    border-style: solid;
    border-width: 10px;
}
.modPop input[type=text] {
    background: rgb(235,235,235);
    border-radius: 3px;
    border-left: 4px solid rgb(235,235,235);
    width: 175px;
    
    transition: border-left 0.25s;
}
.modPop input[type=text]:focus {
    border-left: 4px solid #F79522
}
