<ion-view view-title="Home">
    <ion-content class="content-positive">
    <!--
        TO BE ADDED: Log-in system, recent sets, news from market and maybe twitter, etc 
        ALSO: fix forward/back buttons on other pages
    -->
    </ion-content>
<div id="home-dropdown">
            <ul>
                <li class="active"><a href="#"><i class="ion-bag"></i><br>Marketplace</a></li>
                <li class="active"><a href="#"><i class="ion-person"></i><br>My Sets</a></li>
                <li class="has-sub"><a href="#"><i class="ion-plus-round"></i><br>Create</a>
                    <ul>
                        <li class="has-sub"><a href="#"><span>From Gallery</span></a></li>
                        <li class="has-sub"><a href="#"><span>Take Photo</span></a></li>
                        <li class="has-sub"><a href="#/modify" ng-click="setToDefaultPhoto()"><span>Default (debug)</span></a></li>
                        <ul></ul>
                    </ul>
            </ul>
        </div>                    
</ion-view>
