<ion-view view-title="Home">
    <ion-content class="content-positive">
        <div id="market-content">   <!-- Put stuff inside this to change the content of the market tab! -->
            <h3>Market Stuff!</h3>
        </div>
        
        <div id="sets-content">   <!-- Put stuff inside this to change the content of the sets tab! -->
            <div id="setContainer"></div>
                <div ng-repeat="x in setService.set_labels" class="setPhoto"><!--
                    --><img ng-src="{{setService.image[$index]}}"><!--
                    --><a ng-click="edit_click($event, $index)">Edit</a><!--
                    --><a ng-click="learn_click($event, $index)">Learn</a><!--
                    --><a ng-click="test_click($event,$index)">Test</a><!--
                    --><a ng-click="loctest_click($event,$index)">loctest</a>
                </div>
            </div>
        </div> 
        
    </ion-content>
    
   
    <div id="home-dropdown">
        <ul>
		<li id="button3" style="margin-right: calc(20% - 120px);"> <!-- Same as above -->
                <a href="#"><span><i class="ion-plus-round"></i></span><span>Create</span></a>
                <ul>
                    <li><a href="#/modify" ng-click="takePhotoFromGallery()"><span>From Gallery</span></a></li>
                    <li><a href="#/modify" ng-click="takePhoto()"><span>Take Photo</span></a></li>
                    <li><a href="#/modify" ng-click="setToDefaultPhoto()"><span>Default (debug)</span></a></li>
                    <ul></ul>
                </ul>
            </li>
            <li id="button1"> <!-- Some inline css to ensure the buttons stretch apart dynamically -->
               <a href="#"><span><i class="ion-bag"></i></span><span>Marketplace</span></a>
            </li>
            <li id="button2" style="margin-left: calc(20% - 120px);">
                <a href="#"><span><i class="ion-person"></i></span><span>My Sets</span></a>
            </li>
            
        </ul>
    </div> 
</ion-view>

