<ion-view view-title="Home">
    <ion-content class="content-positive">
    <!--
        TO BE ADDED: Log-in system, recent sets, news from market and maybe twitter, etc 
        ALSO: fix forward/back buttons on other pages
    -->
    </ion-content>
    <div class="bar bar-footer bar-coverupOrange" style="height: 80px !important;">
        <a class="button button-clear button-bold button-coverupOrange pull-left" href="#"><i class="ion-bag"></i><br>Marketplace</a>
        <a class="button button-clear button-bold button-coverupOrange pull-center" href="#"><i class="ion-person"></i><br>My Sets</a>
        <a class="button button-clear button-bold button-coverupOrange pull-right" href="#/photo"><i class="ion-plus-round"></i><br>Create</a>
    </div>
</ion-view>
