<ion-view view-title="Modify"  resize ng-app="app">
  <ion-nav-buttons side="right">
      <a style="margin-right:100px;"class="button button-clear button-bold button-coverupOrange icon-right ion-ios-arrow-forward" href="#/loctest">
          Test!
      </a>
      <a class="button button-clear button-bold button-coverupOrange icon-right ion-ios-arrow-forward" href="#/study">
          Learn!&nbsp;
      </a>
</ion-nav-buttons>
   <ion-content class="content-positive">
		<div id="imghld" class="img-holder">
			<img id="imagecont" class="image" ng-click="eventManage($event)" ng-src="{{photoService.image}}">
			<button ng-repeat="label in labels" class="button energized button-icon icon ion-ios-circle-filled label" ng-init="setStyle($index)" id="button{{$index}}" ng-click="openPopover($event, $index)" ng-style="labelStyle[$index]"></button>
		</div>
	</ion-content>
</ion-view>
